.letras {
    font-family: Arial, Helvetica, sans-serif;
    font-size:x-large;
    text-align: center;
    border-radius: 5%;
    border-color: darkblue;
    min-width: 37px;
    max-width: 60px;
}

.letrasP {
    font-family: Arial, Helvetica, sans-serif;
    font-size:x-large;
    border-radius: 5%;
    border-color: darkblue;
}

.mensajes {
    background-color: rgb(225, 224, 224);
    font-weight: bold;
}

#cresultado {
    height: 250px;
    width: 100%;
}

#resultados {
    font-size: large;
}

